@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #edebf0;
  overflow-x: hidden;
}

/* NAVBAR STYLING STRATS HERE */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #ffffff;
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Floating effect */
}

.Navbar-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.Navbar-logo:hover {
  color: #a66cff;
}

.Navbar-links {
  display: flex;
  gap: 1.5rem;
}

.Navbar-links a {
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.Navbar-links a:hover {
  color: #a66cff;
  background-color: #edebf0;
  font-style: italic;
}

.Navbar-links a:focus {
  outline: none;
}

.Dropdown-links a:hover {
  color: #a66cff;
  background-color: #edebf0;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Navbar-logo {
  animation: fadeIn 1s ease-in-out;
}
 */




/* @keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.Navbar-logo {
  animation: scale 0.8s ease-out;
} */


@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.Navbar-logo {
  animation: slideIn 1s ease-out;
}

/* NAVBAR STYLING ENDS HERE */